/*----------------------------------*\
  #GOOGLE FONTS
\*----------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Roboto:ital,wght@0,300;0,700;1,300&display=swap');


/*----------------------------------*\
  #VARIABLES
\*----------------------------------*/

:root {

  /* == COLORS == */

  --color-black: #000;
  --color-black-hover: #151515;
  --color-white: #fff;
  --color-heading: #111111;
  --color-newsletter-bg: #ffe8f1;
  --color-bg-text: #EFF1F3;
  --color-lines: #D8D8D8;
  --color-placeholder: rgb(80, 80, 80);
  --color-error: rgb(178, 4, 4);

  /* == TYPOGRAPHY == */

  /* font family */
  --ff-title: 'Nanum Myeongjo', serif;
  --ff-body: 'Roboto', sans-serif;

  /* font size */
  --fs-body: .8125rem;
  --fs-headline: .875rem;
  --fs-heading-h1: 2.5rem;
  --fs-heading-h2: 1.875rem;
  --fs-heading-h3: 1.5rem;
  --fs-heading-h4: 1.125rem;
  --fs-link-btn: .9375rem;
  --fs-filled-btn: .875rem;

  /* letter spacing */
  --ls-body: 0.05em;

  /* == TRANSITIONS == */

  --transition-time-300: .3s;
  --transition-time-400: .4s;
  
  /* == CONTAINER == */

  --container-400: 1420px;
  --side-space-fixed: 15px;
  --side-space-dynamic: 0;
  --block-text-space-400: 3.125rem;
  --block-text-space-600: 4.6875rem;
}


/*----------------------------------*\
  #RESET
\*----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

img{
  max-width: 100%;
  display: block;
  object-fit: cover;
}

button{
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: var(--color-white);
  color: var(--color-black);
  line-height: 1.6;
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  letter-spacing: var(--ls-body);
  font-weight: 300;
}

.body-wrapper {
  position: relative;
  z-index: 2;
  overflow-x: hidden;
}


/*----------------------------------*\
  #TYPOGRAPHY
\*----------------------------------*/

.heading--primary {
  font-family: var(--ff-title);
  text-transform: uppercase;
}

.headline {
  font-size: var(--fs-headline);
  line-height: 1.2;
  text-transform: uppercase;
}

.heading--h1,
.heading--h2,
.heading--h3 {
  letter-spacing: 0;
  font-weight: 400;
}

.heading--h1 {
  margin-bottom: .5em;
  font-size: var(--fs-heading-h1);
  line-height: 1.3;
  color: var(--color-heading);
}

.heading--h2 {
  margin-bottom: .67em;
  font-size: var(--fs-heading-h2);
  line-height: 1.275;
  color: var(--color-black);
}

.heading--h3 {
  margin-bottom: .6em;
  font-size: var(--fs-heading-h3);
  line-height: 1.2;
  color: var(--color-black);
}

.heading--h4 {
  margin-bottom: .4em;
  font-size: var(--fs-heading-h4);
  font-weight: 700;
  line-height: 1.5;
}

.headline + .heading--h1 {
  margin-top: .55em;
}

.headline + .heading--h2 {
  margin-top: .7333em;
}

.headline + .heading--h3 {
  margin-top: .7em;
}

/*----------------------------------*\
  #REUSED STYLES
\*----------------------------------*/

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--side-space-fixed);
}

.main-grid{
  display: grid;
}

.row--bg-text{
  position: relative;
}

.row--bg-text > * {
  z-index: 2;
}

.bg-text{
  display: none;
  position: absolute;
  width: calc(100% / 5);
  font-size: var(--side-space-dynamic);
  color: var(--color-bg-text);
  font-weight: 700;
  text-transform: uppercase;
  z-index: -1;
}

.bg-text span {
  position: relative;
  display: block;
  font-size: 2.14em;
  transform: rotate(90deg);
  right: 2px;
  line-height: 1;
}


/*----------------------------------*\
  #COMPONENTS
\*----------------------------------*/

/* == BUTTONS == */

.link-btn {
  display: inline-flex;
  margin-top: 1.5625rem;
  font-size: var(--fs-link-btn);
  letter-spacing: 0;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: .1em;
  transition: transform var(--transition-time-300), opacity var(--transition-time-300);
}

.link-btn:hover,
.link-btn:focus-visible{
  opacity: .8;
  transform: translateY(-3px);
}

.btn {
  display: inline-flex;
  padding: 0 1.375rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: var(--fs-filled-btn);
  font-weight: 700;
  border: .0625rem solid;
  transition: all var(--transition-time-300);
}

.btn--black {
  background-color: var(--color-heading);
  color: var(--color-white);
  border-color: var(--color-black);
}

.btn--black:hover,
.btn--black:focus-visible {
  background-color: var(--color-white);
  color: var(--color-black);
  border-color: var(--color-black);
}

.btn--white {
  background-color: var(--color-white);
  color: var(--color-black);
  border-color: var(--color-white);
}

.btn--white:hover,
.btn--white:focus-visible {
  background-color: var(--color-black);
  color: var(--color-white);
  border-color: var(--color-black);
}


/* == FORMS == */

/* form .form-row{
  margin-bottom: .9375rem;
}

form .submit-row{
  margin-bottom: 0;
}

form input {
  width: 100%;
  border: .0625rem solid var(--color-black);
  height: 2.1875rem;
  color: var(--color-black);
  font-size: .8125rem;
  padding: 0 1.25rem;
  outline: none;
  transition: box-shadow var(--transition-time-300);
}

form input::placeholder{
  color: var(--color-placeholder);
}

form input:focus-visible{
  box-shadow: .125rem .1875rem .375rem rgba(0, 0, 0, 0.3);
}

.form-field-wrapper .input-error{
  display: inline-block;
  margin-top: .375rem;
  font-size: .75rem;
  color: var(--color-error);
  line-height: 1.3;
} */


/* == POPUP == */

.popup{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 calc(var(--side-space-fixed) * 2);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  cursor: pointer;
}

.popup__container {
  width: 100%;
  position: relative;
  max-width: 1200px;
  box-shadow: .3125rem .3125rem 2.5rem rgba(0, 0, 0, 0.4);
  cursor: auto;
}

.popup__close {
  width: 1.5625rem;
  height: 1.5625rem;
  position: absolute;
  cursor: pointer;
}

.popup__close::before,
.popup__close::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: .0625rem;
  background-color: var(--color-white);
  transition: transform var(--transition-time-300);
}

.popup__close::before{
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup__close::after{
  transform: translate(-50%, -50%) rotate(-45deg);
  transition-delay: .05s;
}

.popup__close:hover::before,
.popup__close:focus-visible::after{
  transform: translate(-50%, -50%) rotate(225deg);
}

.popup__close:hover::after,
.popup__close:focus-visible::after{
  transform: translate(-50%, -50%) rotate(-225deg);
}

/* == NEWSLETTER POPUP == */

.newsletter-popup .popup__container{
  background-color: var(--color-white);
  padding: 3.125rem 1.25rem;
}

.newsletter-popup__content-col form > p {
  font-size: .75rem;
  margin-bottom: .625rem;
}

.newsletter-popup__image-col {
  display: none;
  position: relative;
}

.newsletter-popup__logo{
  display: none;
  position: absolute;
  animation: rotateLogo 7s infinite linear;
}

@keyframes rotateLogo {
  100%{
    transform: translate(-50%, 50%) rotate(360deg);
  }
}

.newsletter-popup__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newsletter-popup .popup__close {
  top: .9375rem;
  right: .9375rem;
  z-index: 2;
}

.newsletter-popup .popup__close::before,
.newsletter-popup .popup__close::after{
  background-color: var(--color-black);
}

.newsletter-popup.animate .newsletter-popup__title{
  animation: headingAnimation .6s ease;
}

.newsletter-popup.animate form{
  animation: formAnimation .6s ease .2s backwards;
}

.newsletter-popup.animate .newsletter-popup__image{
  animation: imageAnimation .6s ease .4s backwards;
}

@keyframes headingAnimation {
  0%{
    opacity: 0;
    transform: translateX(100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes formAnimation {
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes imageAnimation {
  0%{
    opacity: 0;
    transform: scale(.6);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

/*----------------------------------*\
  #LINES
\*----------------------------------*/

.lines {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

.lines__container{
  padding: 0 var(--side-space-fixed);
}

.lines * {
  height: 100%;
}

.lines .row {
  display: flex;
  justify-content: space-between;
}

.lines__line {
  width: .0625rem;
  background-color: var(--color-lines);
}

/*----------------------------------*\
  #PRELOADER
\*----------------------------------*/

.preloader::before,
.preloader::after{
  position: fixed;
  top: 0;
  content: "";
  width: 50%;
  height: 100%;
  background-color: var(--color-heading);
  transition: transform 600ms cubic-bezier(0.67, 0.01, 0.32, 1);
  z-index: 10;
}

.preloader::before{
  transform-origin: left;
  left: 0;
}

.preloader::after{
  transform-origin: right;
  left: 50%;
}

.preloader.active::before,
.preloader.active::after{
  transform: scaleX(0);
}


/*----------------------------------*\
  #HEADER
\*----------------------------------*/

.header{
  padding: .9375rem var(--side-space-fixed);
}

.header .container-full{
  padding: 0 var(--side-space-fixed);
}

.header .row{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo a {
  display: flex;
}

.header__logo img {
  max-width: 3.75rem;
}

.header__toggler {
  width: 2.2rem;
  height: .8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.header__toggler span{
  width: 100%;
  height: .0625rem;
  background-color: var(--color-black);
  transition: transform var(--transition-time-400);
  transform-origin: right;
}

.header__toggler:hover span:nth-child(2),
.header__toggler:focus-visible span:nth-child(2) {
  transform: scaleX(.3);
}


/*----------------------------------*\
  #OFFCANVAS MENU
\*----------------------------------*/

.offcanvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  visibility: hidden;
  transition: visibility .6s;
}

.offcanvas.active{
  visibility: visible;
}

.offcanvas::before,
.offcanvas::after{
  content: "";
  width: 100%;
  height: 50%;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
}

.offcanvas::before{
  top: 0;
}

.offcanvas::after{
  top: 50%;
}

.offcanvas.active::before,
.offcanvas.active::after{
  animation: offcanvas-in .3s;
  animation-fill-mode: both;
}

.offcanvas.active::after{
  animation-delay: 150ms;
}

.offcanvas.inactive::before,
.offcanvas.inactive::after{
  animation: offcanvas-out .5s;
  animation-fill-mode: both;
  transform-origin: right;
}

@keyframes offcanvas-in {
  from{
    transform: scaleX(0);
    background-color: var(--color-white);
  }

  to{
    transform: scaleX(1);
    background-color: var(--color-heading);
  }
}

@keyframes offcanvas-out {
  from{
    transform: scaleX(1);
    background-color: var(--color-heading);
  }
  
  to{
    transform: scaleX(0);
    background-color: var(--color-white);
  }
}

.offcanvas__container {
  padding: 2.5rem var(--side-space-fixed);
  height: 100%;
  position: relative;
  z-index: 2;
}

.offcanvas.inactive .offcanvas__container {
  visibility: hidden;
}

.offcanvas__container > * {
  position: relative;
  z-index: 1;
}

.offcanvas__logo{
  display: flex;
}

.offcanvas__logo img{
  max-width: 3.75rem;
}

.offcanvas__nav{
  margin-top: 3.125rem;
}

.offcanvas__nav__list {
  display: flex;
  flex-direction: column;
}

.offcanvas__nav__list__item {
  margin-bottom: 1.25rem;
  line-height: 1;
}

.offcanvas__nav__list__item:last-child {
  margin-bottom: 0;
}

.offcanvas__nav__list__link {
  display: inline-flex;
  align-items: center;
  color: var(--color-newsletter-bg);
  font-family: var(--ff-title);
  font-weight: 400;
  font-size: 1.5625rem;
  position: relative;
  text-transform: uppercase;
  outline: none;
  transition: margin-left var(--transition-time-400);
}

.offcanvas__nav__list__link::before{
  content: "";
  width: 0px;
  height: .0625rem;
  background-color: var(--color-newsletter-bg);
  transition: width var(--transition-time-400), margin-right var(--transition-time-400);
}

.offcanvas__nav__list__item.active .offcanvas__nav__list__link::before,
.offcanvas__nav__list__link:focus-visible:before,
.offcanvas__nav__list__link:hover:before{
  margin-right: 1.75rem;
  width: 1.875rem;
}

.offvanvas__image{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  max-height: calc(100% - var(--side-space-fixed) - 5rem);
  z-index: 1;
}

.offcanvas.active .offvanvas__image {
  animation: imageAnimation .6s ease .4s backwards;
}

.offcanvas.inactive .offvanvas__image {
  display: none;
}

.offvanvas__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offvanvas__close {
  position: absolute;
  top: 2.5rem;
  width: 1.5625rem;
  height: 1.5625rem;
  right: var(--side-space-fixed);
  z-index: 2;
  cursor: pointer;
}

.offvanvas__close::before, 
.offvanvas__close::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: var(--color-white);
  transition: transform var(--transition-time-300);
}

.offvanvas__close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.offvanvas__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
  transition-delay: .05s;
}

.offvanvas__close:hover::before, 
.offvanvas__close:focus-visible::after {
  transform: translate(-50%, -50%) rotate(225deg);
}

.offvanvas__close:hover::after, 
.offvanvas__close:focus-visible::after {
  transform: translate(-50%, -50%) rotate(-225deg);
}

.offcanvas.inactive .offvanvas__close{
  visibility: hidden;
}

/*----------------------------------*\
  #HOME PAGE
\*----------------------------------*/

/* == HOME SECTION == */

.home__content-col{
  margin: 3.125rem 0;
}

.home__video-popup {
  position: relative;
  width: 100%;
  height: 100%;
}

.home__video-popup__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home__video-popup__icon {
  width: 4.0625rem;
  height: 4.0625rem;
  border: .0625rem solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: background-color var(--transition-time-400);
}

.home__video-popup__icon::before,
.home__video-popup__icon::after{
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: .125rem solid white;
  position: absolute;
  animation: popupIConPulse 1.5s infinite linear;
}

.home__video-popup__icon::after{
  animation-delay: .4s;
}

@keyframes popupIConPulse {
  0%{
    opacity: 1;
    transform: scale(1);
  }
  50%{
    opacity: .6;
    transform: scale(1.2);
  }
  100%{
    opacity: 0;
    transform: scale(1.5);
  }
}

.home__video-popup__icon:hover,
.home__video-popup__icon:focus-visible{
  background-color: black;
}

.home__video-popup__icon img {
  max-width: .9375rem;
}

.video-popup-wrapper video{
  width: 100%;
  display: flex;
}

.video-popup-wrapper .popup__close{
  z-index: 2;
  right: 0;
  top: 0;
  transform: translate(0, -100%);
  background-color: var(--color-white);
}

.video-popup-wrapper .popup__close::before,
.video-popup-wrapper .popup__close::after {
  background-color: var(--color-black);
}


/* == NEW SECTION AND BOHO SECTION == */

.new .row,
.boho .row {
  padding-top: 4.375rem;
}

.new__content-col,
.boho__content-col {
  margin-bottom: 3.125rem;
}

/* == NEWSLETTER CALL TO ACTION == */

.newsletter-cta{
  padding: 4.375rem 0;
}

.newsletter-cta__block{
  background-color: var(--color-newsletter-bg);
  padding: 1.5625rem 2.1875rem;
}

.newsletter-cta__block__button{
  margin-top: .9375rem;
}


/* == SIDE IMAGES == */

.side-images__content-col{
  padding: 4.375rem 0;
}


/* == HOME ARTICLES == */

.home-articles {
  padding: 4.375rem 0;
}

.home-articles__heading {
  margin-bottom: .8em;
}

.home-articles__row{
  padding-bottom: 3.125rem;
}

.home-articles__row:first-child, 
.home-articles__row:last-child{
  padding-bottom: 0;
}

.home-articles__block__content {
  padding-top: 1.875rem;
}


/*----------------------------------*\
  #FOOTER
\*----------------------------------*/

.footer{
  padding: 4.375rem 0;
  background-color: rgb(0 0 0 / 3%);
}

.footer .main-grid {
  row-gap: 1.875rem;
}

.footer__logo img {
  max-width: 5.625rem;
}

.footer a {
  text-decoration: underline;
}

/*----------------------------------*\
  #PAGE 404
\*----------------------------------*/
.page-404 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("../images/404-bg.jpg");
  background-size: cover;
  background-position: center;
}

.page-404::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  opacity: .3;
  z-index: 1;
}

.page-404__content {
  position: relative;
  text-align: center;
  z-index: 2;
}

.page-404__title {
  margin-bottom: .1em;
}

.page-404__title,
.page-404__text {
  color: var(--color-white);
}

.page-404__text {
  margin-bottom: 1.4em;
  font-size: 1.4rem;
}


/* ANCHOR Breakpoints */

/*----------------------------------*\
  #BREAKPOINTS
\*----------------------------------*/

@media screen and (min-width: 768px) {

  /*----------------------------------*\
    #VARIABLES
  \*----------------------------------*/

  :root {
    /* == CONTAINER == */

    --side-space-fixed: 1.875rem;
  }

  /*----------------------------------*\
    #COMPONENTS
  \*----------------------------------*/

  /* == NEWSLETTER POPUP == */

  .newsletter-popup .popup__container {
    padding: 3.75rem 1.875rem;
  }
  
  .newsletter-popup__content-col{
    padding: 1.875rem 2.1875rem 1.875rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .newsletter-popup form{
    margin-top: 2.5rem;
    max-width: 17.5rem;
  }
  
  .newsletter-popup__image-col{
    display: block;
  }

  .newsletter-popup .row{
    display: grid;
    grid-template-columns: 60% 1fr;
  }

  /*----------------------------------*\
    #HEADER
  \*----------------------------------*/

  .header {
      padding: 1.5625rem var(--side-space-fixed);
  }

  .header__logo img {
    max-width: 6.25rem;
  }

  /*----------------------------------*\
    #OFFCANVAS MENU
  \*----------------------------------*/

  .offcanvas__logo img {
    max-width: 5.625rem;
  }

  .offcanvas__nav__list__item {
    margin-bottom: 1.875rem;
  }

  .offcanvas__nav__list__link {
    font-size: 2.8125rem;
  }

  .offcanvas__nav__list__item.active .offcanvas__nav__list__link::before, 
  .offcanvas__nav__list__link:focus-visible:before, 
  .offcanvas__nav__list__link:hover:before {
    margin-right: 2.1875rem;
    width: 3.125rem;
  }

  /*----------------------------------*\
    #HOME PAGE
  \*----------------------------------*/

  /* == NEWSLETTER CALL TO ACTION == */

  .newsletter-cta__block{
    padding: 2.8125rem 3.4375rem;
  }

  /* == HOME ARTICLES == */

  .home-articles__block__content {
    padding: var(--block-text-space-400) var(--block-text-space-400) 0;
  }

  /*----------------------------------*\
    #FOOTER
  \*----------------------------------*/

  .footer .main-grid{
    grid-template-columns: repeat(5, 1fr);
  }

  .footer__logo {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
  }

  .footer__about {
    grid-column: 2 / 4;
  }

  .footer__contact {
    grid-column: 4 / 6;
  }

  .footer__about,
  .footer__contact{
    padding: 0 1.875rem;
  }

}

@media screen and (min-width: 992px) {

  /*----------------------------------*\
    #COMPONENTS
  \*----------------------------------*/

  /* == NEWSLETTER POPUP == */

  .newsletter-popup .popup__container {
    padding: 3.75rem;
    max-width: 53.125rem;
  }

  .newsletter-popup form {
    margin-top: 3.75rem;
    max-width: 18.75rem;
  }

  .newsletter-popup .popup__close {
    top: 1.25rem;
    right: 1.25rem;
  }

  .newsletter-popup__content-col {
    padding: 0 2.1875rem 0 0;
  }

  .newsletter-popup__logo {
    display: block;
    left: 0;
    bottom: 0;
    z-index: 2;
    max-width: 4.375rem;
    transform: translate(-50%, 50%);
  }

  /*----------------------------------*\
    #OFFCANVAS MENU
  \*----------------------------------*/

  .offcanvas__container {
    padding: 5rem;
  }

  .offcanvas__nav {
    padding-left: 20%;
  }

  .offcanvas__nav__list__item {
    margin-bottom: 2.5rem;
  }

  .offcanvas__nav__list__link {
    font-size: 3rem;
  }

  .offcanvas__nav__list__item.active .offcanvas__nav__list__link, 
  .offcanvas__nav__list__link:focus-visible, 
  .offcanvas__nav__list__link:hover {
    margin-left: -3.125rem;
  }

  .offcanvas__nav__list__item.active .offcanvas__nav__list__link::before, 
  .offcanvas__nav__list__link:focus-visible:before, 
  .offcanvas__nav__list__link:hover:before {
    margin-right: 3.125rem;
    width: 8.125rem;
  }

  .offvanvas__image {
    width: 35%;
    max-height: calc(100% - 12rem);
  }

  .offvanvas__close{
    top: 5rem;
    right: 5rem;
  }

  /*----------------------------------*\
    #HOME PAGE
  \*----------------------------------*/

  /* == HOME SECTION == */

  .home .main-grid {
    grid-template-columns: 1fr 1fr;
  }

  .home__content-col {
    grid-column: 1 / 3;
    max-width: 50%;
  }

  .home__video-popup-col {
    height: 80%;
    align-self: end;
  }

  /* == NEW SECTION AND BOHO SECTION == */

  .new .row,
  .boho .row {
    padding-top: 9.375rem;
  }

  .text-image-sided .main-grid {
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
  }
  
  .new .main-grid {
    grid-auto-flow: column;
  }

  .new__image-col{
    grid-column: 1 / 4;
  }

  .new__content-col {
    grid-column: 4 / 6;
    margin-bottom: 0;
    padding: 0 0 0 var(--block-text-space-600);
  }

  .boho__content-col{
    grid-column: 1 / 4;
    margin-bottom: 0;
    padding: 0 var(--block-text-space-600);
  }

  .boho__image-col{
    grid-column: 4 / 6;
  }

  /* == NEWSLETTER CALL TO ACTION == */

  .newsletter-cta{
    padding: 9.375rem 0;
  }

  .newsletter-cta .main-grid{
    grid-template-columns: repeat(5, 1fr);
  }

  .newsletter-cta__block{
    grid-column: 2 / 5;
  }

  /* == SIDE IMAGES == */

  .side-images .main-grid {
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
  }

  .side-images__image-col--left {
    display: none;
  }

  .side-images__content-col{
    grid-column: 1 / 3;
    padding: 0 var(--block-text-space-400);
  }

  .side-images__image-col--right {
    grid-column: 3 / 6;
  }

  /* == HOME ARTICLES == */

  .home-articles{
    padding: 14.375rem 0;
  }

  .home-articles__heading {
    margin-bottom: 1.4em;
    padding: 0 var(--block-text-space-400);
    grid-column: 2 / 4;
    text-align: right;
  }

  .home-articles__row {
    padding-bottom: 11.25rem;
  }

  .home-articles .main-grid {
    grid-template-columns: repeat(5, 1fr);
  }

  .home-articles__row--right .home-articles__block {
    grid-column: 2 / 6;
  }

  .home-articles__row--left .home-articles__block {
    grid-column: 1 / 5;
  }

  /*----------------------------------*\
    #FOOTER
  \*----------------------------------*/

  .footer{
    padding: 9.0625rem 0;
  }

  .footer__about,
  .footer__contact{
    padding: 0 var(--block-text-space-400);
  }

}


@media screen and (min-width: 1200px) {

  /*----------------------------------*\
    #VARIABLES
  \*----------------------------------*/

  :root {

    /* == TYPOGRAPHY == */

    /* font size */
    --fs-heading-h1: 3.75rem;
    --fs-heading-h2: 2.375rem;
  }

  /*----------------------------------*\
    #REUSED STYLES
  \*----------------------------------*/

  .container {
    padding: 0 var(--side-space-fixed);
  }

  /*----------------------------------*\
    #COMPONENTS
  \*----------------------------------*/

  /* == BUTTONS == */

  .link-btn {
    margin-top: 2.1875rem;
  }

  /* == FORMS == */

  /* form .form-row {
    margin-bottom: 1.375rem;
  }

  form input {
    height: 3rem;
    font-size: .9375rem;
  } */


  /* == NEWSLETTER POPUP == */

  .newsletter-popup .popup__container {
    padding: 5rem;
    max-width: 62.5rem;
  }

  .newsletter-popup .popup__close {
    top: 1.875rem;
    right: 1.875rem;
  }

  .newsletter-popup form {
    margin-top: 5rem;
    max-width: 21.25rem;
  }

  .newsletter-popup__content-col form > p {
    font-size: .9375rem;
    margin-bottom: .9375rem;
  }

  .newsletter-popup__logo {
    max-width: 6.25rem;
  }

  /*----------------------------------*\
    #HOME PAGE
  \*----------------------------------*/

  /* == HOME SECTION == */

  .home .main-grid{
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
  }

  .home__content-col {
    margin: 0;
    padding: 0 var(--block-text-space-400);
    max-width: unset;
  }

  .home__video-popup-col {
    grid-column: 3 / 4;
    height: 60%;
  }

  .home__image-col {
    grid-column: 4 / 6;
  }

  /* == NEW SECTION AND BOHO SECTION == */

  .new .row {
    padding-top: 16.25rem;
  }

  .new__content-col{
    padding-right: 3.75rem;
  }

  .new .bg-text {
    display: block;
    left: 0;
    top: -12%;
  }

  .boho .row {
    padding-top: 18.125rem;
  }

  .boho__content-col p {
    max-width: 26.25rem;
  }

  .boho .bg-text{
    display: block;
    right: 0;
    top: -16%;
  }

  /* == NEWSLETTER CALL TO ACTION == */

  .newsletter-cta__block{
    display: flex;
  }

  .newsletter-cta__block__content-col{
    padding-right: 6.25rem;
  }

  /* == SIDE IMAGES == */

  .side-images__content-col {
    grid-column: 2 / 4;
  }

  .side-images__image-col--left {
    display: block;
    grid-column: 1 / 2;
    margin-left: calc(var(--side-space-fixed) * -1);
  }

  .side-images__image-col--right {
    grid-column: 4 / 6;
    margin-right: calc(var(--side-space-fixed) * -1);
  }

  .side-images__image-col {
    height: 37.5rem;
  }

  .side-images__image-col img{
    height: 100%;
    width: 100%;
    max-width: unset;
  }

  /* == HOME ARTICLES == */

  .home-articles__block__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: var(--block-text-space-400) 0 0;
  }

  .home-articles__block__heading,
  .home-articles__block__intro{
    padding: 0 var(--block-text-space-400);
  }

  /*----------------------------------*\
    #FOOTER
  \*----------------------------------*/

  .footer__logo {
    grid-column: 2 / 3;
  }

  .footer__logo img {
    max-width: 8.4375rem;
  }

  .footer__about {
    grid-column: 3 / 4;
  }

  .footer__contact {
    grid-column: 4 / 5;
  }

  .footer__about,
  .footer__contact {
    padding: 0 1.875rem;
  }

}

@media screen and (min-width: 1530px) {

  /*----------------------------------*\
    #REUSED STYLES
  \*----------------------------------*/

  .bg-text span {
    font-size: 2.1em;
  }

  /*----------------------------------*\
    #OFFCANVAS MENU
  \*----------------------------------*/

  .offcanvas__nav {
    padding-left: 30%;
  }

  .offvanvas__image {
    width: 25%;
  }

  .offcanvas__nav__list__link {
    font-size: 5rem;
  }
}


@media screen and (min-width: 1600px) {

  /*----------------------------------*\
    #VARIABLES
  \*----------------------------------*/

  :root {

    /* == TYPOGRAPHY == */

    /* font size */
    --fs-heading-h1: 4.375rem;
    --fs-heading-h2: 2.625rem;

    /* == CONTAINER == */
    --container-400: 100%;
    --block-text-space-400: 5rem;
    --block-text-space-600: 7.1875rem;
  }

  /*----------------------------------*\
    #REUSED STYLES
  \*----------------------------------*/

  .heading--h1 {
    line-height: 1.375;
  }

  .heading--h2 {
    line-height: 1.5;
  }

  .container {
    padding: 0 var(--side-space-dynamic);
  }

  .bg-text span {
    font-size: 1.7em;
  }

  /*----------------------------------*\
    #LINES
  \*----------------------------------*/

  .lines__container {
    padding: 0 var(--side-space-dynamic);
  }

  /*----------------------------------*\
    #HEADER
  \*----------------------------------*/

  .header {
    padding: 4.1875rem 0;
    width: 100%;
  }

  .home-page .header {
    position: absolute;
  }

  .header .container-full {
    padding: 0;
  }

  .header .row {
    align-items: flex-start;
  }

  .header .menu-opener {
    padding-top: 1.125rem;
  }

  .header__logo, 
  .header__toggler-wrapper {
    flex: 0 0 var(--side-space-dynamic);
    display: flex;
    justify-content: center;
  }

  /*----------------------------------*\
    #HOME PAGE
  \*----------------------------------*/

  /* == HOME SECTION == */

  .home__image-col img {
    height: 61.25rem;
  }

  /* == NEW SECTION AND BOHO SECTION == */

  .boho__content-col p {
    max-width: 31.25rem;
  }

  /* == SIDE IMAGES == */

  .side-images__image-col--left {
    margin-left: calc(var(--side-space-dynamic) * -1);
  }

  .side-images__image-col--right {
    margin-right: calc(var(--side-space-dynamic) * -1);
  }

  .side-images__image-col {
    height: 48.75rem;
  }

}


@media screen and (min-width: 1800px) {

  /*----------------------------------*\
    #VARIABLES
  \*----------------------------------*/

  :root {

    /* == TYPOGRAPHY == */

    /* font size */
    --fs-heading-h1: 5rem;
    --fs-heading-h2: 3rem;
  }

  /*----------------------------------*\
    #HOME PAGE
  \*----------------------------------*/

  /* == NEW SECTION AND BOHO SECTION == */

  .boho__content-col p {
    max-width: 34.375rem;
  }
}