<header class="header">
	<button class="header__aside-show js-show-aside">
		<i class="ri-menu-unfold-fill" aria-hidden="true"></i>
	</button>

	<div class="header__right">
		<div class="header__functions">
			<button class="header__functions__btn">
				<i class="ri-chat-1-line" aria-hidden="true"></i>

				<span class="header__functions__btn__counter">3</span>
			</button>
		</div>

		<div class="header__user">
			<img class="header__user__avatar" src="https://t4.ftcdn.net/jpg/06/52/62/79/360_F_652627943_b6mXUOACLDr0EyOpBJ8dHQ1VjTtySbZC.jpg" alt="">

			<div class="header__user__data">
				<h5>Szymon</h5>
				<span>admin</span>
			</div>
		</div>

		<a href="" class="header__logout">
			<i class="ri-logout-circle-r-line" aria-hidden="true"></i>
		</a>
	</div>
</header>