<div class="popup {% if wrapper_class %} {{ wrapper_class }} {% endif %} js-popup">
    <div class="popup__container">
        <div class="row">
            {% block content %}{% endblock %}
        </div>

        <button class="popup__close js-popup-close"></button>
    </div>
</div>