<div class="row">
  <div class="newsletter-popup__content-col">
    <div class="newsletter-popup__title">
      <p class="heading heading--h4">We have special offer for You!</p>
      <h3 class="heading heading--h2 heading--primary">
      Sign up to our Newsletter and <span>receive 15% off</span>.
      </h3>
    </div>

    <form action="" method="get">
      <p>Enter your email for your exclusive offer:</p>
      <div class="form-row">
        <div class="form-field-wrapper">
          <input type="text" name="email" placeholder="Your e-mail" data-email>
        </div>
      </div>

      <div class="form-row submit-row">
        <button type="submit" class="btn btn--black" data-newsletter-button>Sign me up</button>
      </div>
    </form>
  </div>

  <div class="newsletter-popup__image-col">
    <img src="|doc_root|images/logo/logo.svg" class="newsletter-popup__logo" alt="logo">
    <img src="|doc_root|images/newsletter-image.webp" class="newsletter-popup__image" alt="woman in white dress">
  </div>
</div>