{% extends 'admin/base.html' %}

{% block title %}{{page_title}}{% endblock %}

{% block content %}
  <form class="form js-add-subscriber-form">
    {{honeypot()}}
    
    <div class="form__row">
      <div class="form__col">
        <div class="form__field js-form-field">
          <input class="form__input-field" type="text" name="name" placeholder="Subscriber name">
        </div>
      </div>
    </div>

    <div class="form__row">
      <div class="form__col">
        <div class="form__field js-form-field">
          <input class="form__input-field" type="text" name="email" placeholder="Subscriber e-mail">
        </div>
      </div>
    </div>

    <div class="form__row form__row--submit">
      <button type="submit" class="btn btn--full btn--form">
        <i class="ri-add-line" aria-hidden="true"></i>
        Add Subscriber
      </button>
    </div>
  </form>
{% endblock %}