{% extends 'admin/base.html' %}

{% block title %}{{page_title}}{% endblock %}

{% block content %}

  <div class="app-content__panel__top">
    <form class="app-content__panel__top__search-form form" action="{{doc_root}}admin/newsletter">
      {% if sort == 'd' %}
          <input type="hidden" name="sort" value="d">
      {% endif %}

      {% if order_by %}
          <input type="hidden" name="orderby" value="{{order_by}}">
      {% endif %}
      <input class="app-content__panel__top__search-form__input" type="text" name="keyword" placeholder="Search by name" value="{% if keyword%}{{keyword|e}}{% endif %}">
      <button class="app-content__panel__top__search-form__button">
        <i class="ri-search-line" aria-hidden="true"></i>
        <span class="visually-hidden">Search by name</span>
      </button>
    </form>

    <div class="app-content__panel__top__buttons">
      <a href="{{doc_root}}admin/newsletter?orderby=created_at{% if keyword %}&keyword={{keyword}}{% endif %}{% if order_by == 'created_at' and sort != 'd' %}&sort=d{% endif %}" class="btn app-content__panel__top__buttons__date">
        <i class="ri-calendar-2-line" aria-hidden="true"></i> Date 
        {% if order_by == 'created_at' and sort == 'a' %}
          desc
          <i class="ri-arrow-down-line app-content__panel__top__buttons__date__arrow" aria-hidden="true"></i>
        {% else %}
          asc
          <i class="ri-arrow-up-line app-content__panel__top__buttons__date__arrow" aria-hidden="true"></i>
        {% endif %}
      </a>

      <a href="{{doc_root}}admin/newsletter/add-subscriber" class="btn btn--full">
        <i class="ri-add-line" aria-hidden="true"></i>
        Add new
      </a>

      <button href="{{doc_root}}admin/newsletter" class="btn btn--full app-content__panel__top__buttons__delete">
        <i class="ri-delete-bin-line" aria-hidden="true"></i>
        Delete selected
      </button>

      <a href="{{doc_root}}admin/export?data=newsletter-subscribers" class="btn btn--full excel" target="_blank">
        <i class="ri-file-excel-2-line" aria-hidden="true"></i>
        Export to Excel
      </a>

      <a href="{{doc_root}}admin/newsletter" class="btn app-content__panel__top__buttons__refresh">
        <i class="ri-refresh-line" aria-hidden="true"></i>
        <span class="visually-hidden">Refresh</span>
      </a>
    </div>
  </div>

  {% if subscribers %}

    <table class="table">
      <thead>
        <tr>
          <th>
            <div class="form__checkbox">
              <input class="form__checkbox__input js-select-all-items" type="checkbox" name="selectall" id="selectall">
              <label for="selectall"></label>
            </div>
          </th>

          <th>
            <a href="{{doc_root}}admin/newsletter{% if keyword %}?keyword={{keyword}}{% endif %}{% if order_by == '' and sort != 'd' %}{% if keyword %}&{% else %}?{% endif %}sort=d{% endif %}" class="order {% if order_by == '' %}order--selected{% endif %}">Id 

              <span class="order__icons">
                <i class="ri-arrow-up-s-fill {% if order_by == '' and sort == 'a' %}active{% endif %}" aria-hidden="true"></i>
                <i class="ri-arrow-down-s-fill {% if order_by == '' and sort == 'd' %}active{% endif %}" aria-hidden="true"></i>
              </span>
            </a>
          </th>

          <th>
            <a href="{{doc_root}}admin/newsletter?orderby=subscriber_name{% if keyword %}&keyword={{keyword}}{% endif %}{% if order_by == 'subscriber_name' and sort != 'd' %}&sort=d{% endif %}" class="order {% if order_by == 'subscriber_name' %}order--selected{% endif %}">Name 

              <span class="order__icons">
                <i class="ri-arrow-up-s-fill {% if order_by == 'subscriber_name' and sort == 'a' %}active{% endif %}" aria-hidden="true"></i>
                <i class="ri-arrow-down-s-fill {% if order_by == 'subscriber_name' and sort == 'd' %}active{% endif %}" aria-hidden="true"></i>
              </span>
            </a>
          </th>

          <th>
            <a href="{{doc_root}}admin/newsletter?orderby=email{% if keyword %}&keyword={{keyword}}{% endif %}{% if order_by == 'email' and sort != 'd' %}&sort=d{% endif %}" class="order {% if order_by == 'email' %}order--selected{% endif %}">Email 
              
              <span class="order__icons">
                <i class="ri-arrow-up-s-fill {% if order_by == 'email' and sort == 'a' %}active{% endif %}" aria-hidden="true"></i>
                <i class="ri-arrow-down-s-fill {% if order_by == 'email' and sort == 'd' %}active{% endif %}" aria-hidden="true"></i>
              </span>
            </a>
          </th>

          <th>
            <a href="{{doc_root}}admin/newsletter?orderby=is_active{% if keyword %}&keyword={{keyword}}{% endif %}{% if order_by == 'is_active' and sort != 'd' %}&sort=d{% endif %}" class="order {% if order_by == 'is_active' %}order--selected{% endif %}">Activity 
              
              <span class="order__icons">
                <i class="ri-arrow-up-s-fill {% if order_by == 'is_active' and sort == 'a' %}active{% endif %}" aria-hidden="true"></i>
                <i class="ri-arrow-down-s-fill {% if order_by == 'is_active' and sort == 'd' %}active{% endif %}" aria-hidden="true"></i>
              </span>
            </a>
          </th>

          <th>

            <a href="{{doc_root}}admin/newsletter?orderby=created_at{% if keyword %}&keyword={{keyword}}{% endif %}{% if order_by == 'created_at' and sort != 'd' %}&sort=d{% endif %}" class="order {% if order_by == 'created_at' %}order--selected{% endif %}">Created at 
              
              <span class="order__icons">
                <i class="ri-arrow-up-s-fill {% if order_by == 'created_at' and sort == 'a' %}active{% endif %}" aria-hidden="true"></i>
                <i class="ri-arrow-down-s-fill {% if order_by == 'created_at' and sort == 'd' %}active{% endif %}" aria-hidden="true"></i>
              </span>
            </a>
          </th>
          <th class="actions">Actions</th>
        </tr>
      </thead>

      <tbody>
        {% for subscriber in subscribers %}
        <tr>
          <td data-label="Selection">
            <div class="form__checkbox">
              <input class="form__checkbox__input js-select-item" type="checkbox" value="{{subscriber.id}}" name="selection-item" id="{{subscriber.id}}">
              <label for="{{subscriber.id}}"></label>
            </div>
          </td>
          <td data-label="Id">{{subscriber.id}}</td>
          <td data-label="Name">{{subscriber.subscriber_name}}</td>
          <td data-label="Email">{{subscriber.email}}</td>
          <td data-label="Activity">
            {% if subscriber.is_active %}
              <span class="table__status table__status--active"></span>
            {% else %}
            <span class="table__status table__status--inactive"></span>
            {% endif %}
          </td>
          <td data-label="Created at">{{subscriber.created_at|date()}}</td>
          <td data-label="Actions">
            <div class="table__actions">
              <a class="table__actions__btn table__actions__btn--edit" href="">
                <i class="ri-edit-line" aria-hidden="true"></i>
                <span class="visually-hidden">Edit item</span>
              </a>

              <button class="table__actions__btn table__actions__btn--delete" href="">
                <i class="ri-delete-bin-line" aria-hidden="true"></i>
                <span class="visually-hidden">Delete item</span>
              </button>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="app-content__panel__bottom">
      <span>{{(page - 1) * admin_pagination + 1}} - {{(page -1) * admin_pagination + subscribers|length}} of {{count}}</span>

      {% if count > admin_pagination %}
      {% set pages = (count / admin_pagination)|round(0, 'ceil') %}
      <ul class="app-content__panel__bottom__pagination">
        {% if page > 1 %}
        <li>
          <a class="app-content__panel__bottom__pagination__button app-content__panel__bottom__pagination__button--first" href="{{doc_root}}admin/newsletter{%  if pagination_string_params %}?{% endif %}{{pagination_string_params}}">
            <i class="ri-skip-left-line" aria-hidden="true"></i>
          </a>
        </li>
        {% endif %}

        {% if (page - 1) > 1 %}

        {% elseif (page + 1) > pages %}

        {% endif %}

        {% for i in 1..pages %}

          <li>
            <a class="app-content__panel__bottom__pagination__button {% if page == i %}active{% endif %}" href="{{doc_root}}admin/newsletter?page={{i}}{%  if pagination_string_params %}&{% endif %}{{pagination_string_params}}">{{i}}</a>
          </li>

        {% endfor %}

        {% if page < pages %}
        <li>
          <a class="app-content__panel__bottom__pagination__button app-content__panel__bottom__pagination__button--last" href="{{doc_root}}admin/newsletter?page={{pages}}{%  if pagination_string_params %}&{% endif %}{{pagination_string_params}}">
            <i class="ri-skip-right-line" aria-hidden="true"></i>
          </a>
        </li>
        {% endif %}
        </ul>
      {% endif %}
    </div>

  {% else %}
    Subscribers not found
  {% endif %}


{% endblock %}