{% extends 'admin/base.html' %}

{% block title %}{{page_title}}{% endblock %}

{% block content %}

  <div class="app-content__panel__top">
    <form class="app-content__panel__top__search-form form">
      <input class="app-content__panel__top__search-form__input" type="text" name="keyword" placeholder="Search by name">
      <button class="app-content__panel__top__search-form__button">
        <i class="ri-search-line" aria-hidden="true"></i>
        <span class="visually-hidden">Search by name</span>
      </button>
    </form>

    <div class="app-content__panel__top__buttons">
      <a href="{{doc_root}}admin/newsletter/add-subscriber" class="btn app-content__panel__top__buttons__date">
        <i class="ri-calendar-2-line" aria-hidden="true"></i>
        Date asc
        <i class="ri-arrow-up-down-line" aria-hidden="true"></i>
      </a>

      <a href="{{doc_root}}admin/newsletter/add-subscriber" class="btn btn--full">
        <i class="ri-add-line" aria-hidden="true"></i>
        Add new
      </a>

      <a href="{{doc_root}}admin/export?data=newsletter-subscribers" class="btn btn--full excel" target="_blank">
        <i class="ri-file-excel-2-line" aria-hidden="true"></i>
        Export to Excel
      </a>

      <a href="{{doc_root}}admin/newsletter" class="btn app-content__panel__top__buttons__refresh">
        <i class="ri-refresh-line" aria-hidden="true"></i>
        <span class="visually-hidden">Refresh</span>
      </a>
    </div>
  </div>

  {% if subscribers %}

    {% for subscriber in subscribers %}
      {{subscriber.id}}, {{subscriber.subscriber_name}}, {{subscriber.email}}, {{subscriber.is_active}} <br>
    {% endfor %}

  {% else %}
    Subscribers not found
  {% endif %}


{% endblock %}