<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
  {% block title %} {% endblock %}
  - Admin
  </title>

  <!--
    - favicon
  -->
  <link rel="icon" href="{{doc_root}}images/admin/favicon.png" type="image/png">

  <!--
    -remix icons
  -->
  <link href="{{doc_root}}{{ showFileModificationTime('css/remixicon.css') }}" rel="stylesheet"/>

  <!--
    -custom css
  -->
  <link rel="stylesheet" href="{{doc_root}}{{ showFileModificationTime('css/admin/style.css') }}">

</head>

<body>

  <div class="app">
    <div class="mobile-overlay js-mobile-overlay"></div>

    <!-- MAIN CONTENT -->
    {% if not authentication_page %}
      <!-- ASIDE -->
      {% include 'admin/includes/aside.html' %}

      <main>
        <!-- HEADER -->
        {% include 'admin/includes/header.html' %}

        <div class="app-content">
          {% if session.admin_message %}
            <!-- MESSAGES -->
            {% include 'admin/includes/message.html' %}
          {% endif %}

          <!-- PAGE TITLE -->
          {% include 'admin/includes/page_title.html' %}

          <div class="app-content__panel">
            {% block content %}{% endblock %}
          </div>

          <p class="copyright">© NomisCMS - Created By Szymon Lewandowski</p>
        </div>
      </main>
    {% else %}
      {{ block('content') }}
    {% endif %}

  </div>

  <!--
    -Global variables js
  -->
  <script>
    const docRoot = '{{doc_root}}';
    const csrf = '{{session.csrf}}';
  </script>

  <!--
    -functions
  -->
  <script src="{{doc_root}}{{ showFileModificationTime('js/admin/functions.js') }}"></script>

  <!--
    -custom js
  -->
  <script src="{{doc_root}}{{ showFileModificationTime('js/admin/scripts.js') }}"></script>
</body>
</html>