<footer class="footer">
  <div class="container">
    <div class="row main-grid">
      <div class="footer__logo">
        <a href="{{doc_root}}">
          <img src="{{doc_root}}images/logo/logo.svg" alt="Clothes New York fashion artist logo">
        </a>
      </div>

      <div class="footer__about">
        <p>Justo, a quisque in accumsan dignissim volutpat quis. Sit pellentesque faucibus arcu lacinia egestas augue. Sit volutpat vel dui ultricies massa.</p>
      </div>

      <div class="footer__contact">
        <p>
          <a href="#">hello@templatesjungle.com</a><br>
          15Th Street Avenue, New York, USA<br>
          011-554-8798-6556
        </p>
      </div>
    </div>
  </div>
</footer>