<header class="header">
  <div class="container-full">
    <div class="row">
      <div class="header__logo">
        <a href="{{doc_root}}">
          <img src="{{doc_root}}images/logo/logo.svg" alt="Clothes New York fashion artist logo">
        </a>
      </div>

      <div class="header__spacer container"></div>

      <div class="header__toggler-wrapper">
        <button class="header__toggler js-offcanvas-open">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
</header>