<div class="page-title">
  <div class="container">
    <div class="row">
      <ul class="breadcrumbs">
        <li>
          <a href="{{doc_root}}">Home</a>
        </li>
        {% for page in url_parts %}
          {% if not loop.first %}
            <li>
              <a href="{{doc_root}}{% for page2 in url_parts %}{{page2}}{% if not loop.last %}/{% endif %}{% endfor %}" {% if loop.last %}class="active"{% endif %}>{{page|replace({'-': ' '})}}</a>
            </li>
          {% else %}
            <li>
              <a href="{{doc_root}}{{page}}" {% if loop.last %}class="active"{% endif %}>{{page|replace({'-': ' '})}}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <h1 class="breadcrumbs__heading heading heading--h1 heading--primary">{{page_title}}</h1>
    </div>
  </div>
</div>