<div class="page-title">
  <div class="container">
    <div class="row">
      <h1 class="page-title__heading heading heading--h1 heading--primary">{{page_title}}</h1>

      <ul class="breadcrumbs">
        <li>
          <a href="{{doc_root}}admin">Dashboard</a>
        </li>
        {% for page in url_parts %}
          {% if page == 'admin' %}
            
          {% elseif not loop.first %}
            <li>
              <a href="{{doc_root}}{% for page2 in url_parts %}{{page2}}{% if not loop.last %}/{% endif %}{% endfor %}" {% if loop.last %}class="active"{% endif %}>{{page|replace({'-': ' '})|capitalize}}</a>
            </li>
          {% else %}
            <li>
              <a href="{{doc_root}}{{page}}" {% if loop.last %}class="active"{% endif %}>{{page|replace({'-': ' '})|capitalize}}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>