<div class="page-title">
  <div class="container">
    <div class="row">
      <h1 class="page-title__heading heading heading--h1 heading--primary">{{page_title}}</h1>
      
      <ul class="breadcrumbs">
        <li>
          {% if url_parts|length == 1 %}
            <span>Dashboard</span>
          {% else %}
            <a href="{{doc_root}}admin">Dashboard</a>
          {% endif %}
        </li>

        {% set count = 1 %}
        {% for page in url_parts %}

          {% if page != 'admin' %}

            {% set title = page|replace({'-': ' '})|capitalize %}
            <li>
              {% if not loop.last %}
                <a href="{{doc_root}}{% for page2 in url_parts %}{% if loop.index0 <= count %}{{page2}}{% endif %}{% if not loop.last %}/{% endif %}{% endfor %}" {% if loop.last %}class="active"{% endif %}>{{title}}</a>
              {% else %}
                <span>{{title}}</span>
              {% endif %}
            </li>

            {% set count = count + 1 %}
          {% endif %}

        {% endfor %}
      </ul>
    </div>
  </div>
</div>