<div class="message message--{{ session.admin_message.type|e }} js-message">
  <button class="message__close js-message-close" aria-label="Close message bar">
    <i class="ri-close-line" aria-hidden="true"></i>
  </button>

  <p>{{ session.admin_message.content|e }}</p>
</div>