{% extends 'front/base.html.twig' %}

{% block title %}Forbidden{% endblock %}

{% block content %}

	<section class="error-page">
		<div class="error-page__content">
			<h1 class="error-page__title heading heading--primary heading--h1">Error 403</h1>
			<p class="error-page__text">Forbidden</p>
		</div>
	</section>

{% endblock %}