<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
  {% block title %} {% endblock %}
  - Clothes Fashion Store
  </title>

  <!--
    - favicon
  -->
  <link rel="icon" href="{{doc_root}}/images/logo/favicon.svg" type="image/svg+xml">

  <!--
    -remix icons
  -->
  <link href="{{doc_root}}/css/remixicon.css" rel="stylesheet"/>

  <!--
    -custom css link
  -->
  <link rel="stylesheet" href="{{doc_root}}/css/style.css">

</head>

<body class="home-page">

  <!--
    - #PRELOADER
  -->

  <div id="preloader"></div>

  <!--
    - #BG LINES
  -->

  <div class="lines-wrapper">
    <div class="container">
      <div class="row">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </div>
  </div>

  <!--
    -page content
  -->

  <div class="body-wrapper">

    <!--
    - #NAV
    -->

    <nav class="offcanvas-menu" data-offcanvas-menu>
      <div class="offcanvas-container">
        <div class="offcanvas-logo">
          <a href="/">
            <img src="{{doc_root}}/images/logo/logo-white.svg" alt="offcanvas logo">
          </a>
          
        </div>

        <div class="offcanvas-navigation" data-navigation>
        </div>
      </div>

      <div class="offvanvas-image" aria-hidden="true">
        <img src="{{doc_root}}/images/offcanvas-image.webp" alt="offcanvas menu image">
      </div>

      <button id="menu-close" class="close-modal" data-offcanvas-close aria-label="Close the menu">
      </button>
    </nav>

    <!--
    - #HEADER
    -->

    <header id="header" data-header>
      <div class="container-full">
        <div class="row">
          <div class="logo">
            <a href="/">
              <img src="{{doc_root}}/images/logo/logo.svg" alt="page logo">
            </a>
          </div>

          <div class="header-spacer container"></div>

          <div class="menu-opener">
            <button id="menu-toggler" data-offcanvas-open aria-label="Open the menu">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
    </header>

    {% block content %}{% endblock %}

    <!--
    - #FOOTER
    -->

    <footer id="footer">
      <div class="container">
        <div class="row main-grid">
          <div class="footer-logo">
            <a href="/">
              <img src="{{doc_root}}/images/logo/logo.svg" alt="footer logo">
            </a>
          </div>

          <div class="footer-about">
            <p>Justo, a quisque in accumsan dignissim volutpat quis. Sit pellentesque faucibus arcu lacinia egestas augue. Sit volutpat vel dui ultricies massa.</p>
          </div>

          <div class="footer-contact">
            <p>
              <a href="#">hello@templatesjungle.com</a><br>
              15Th Street Avenue, New York, USA<br>
              011-554-8798-6556
            </p>
          </div>
        </div>
      </div>
    </footer>


  </div>

  <!--
    -ScrollReveal
  -->
  <script src="{{doc_root}}/js/scrollreveal.js"></script>

  <!--
    -custom js
  -->
  <script src="{{doc_root}}/js/scripts.js"></script>
</body>
</html>