{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <!--
  - #HOME
  -->

  <section class="home-section">
    <div class="container">
      <div class="row main-grid">
        <div class="content-column">
          <div class="headline">collection 2020</div>
          <h3 class="section-title title-500" data-heading-slide-from-left>New Arrivals</h4>
          <p data-text-content-slide-from-bottom>Mattis nisl eu quam elementum vulputate ultrices blandit. Congue molestie et varius risus, tristique fermentum purus nunc sed. Et tristique cursus felis placerat proin aliquam. Faucibus aliquam nam morbi volutpat scelerisque cursus in est. Posuere lacus risus faucibus a morbi aliquam malesuada sed sed.</p>
          <a href="shop" class="text-btn">Shop now</a>
        </div>

        <div class="video-popup-column">
          <div class="video-popup-image-wrapper" data-video-popup-image data-popup-video-src="{{doc_root}}/videos/popup-video.mp4">
            <img class="video-popup-image" src="{{doc_root}}images/home-section/video-popup-image.webp" alt="video popup image">
            <button class="video-popup-icon" data-video-popup-open>
              <img src="{{doc_root}}images/icons/video-popup-icon.svg" alt="video popup">
            </button>
          </div>
        </div>

        <div class="image-column">
          <img src="{{doc_root}}images/home-section/home-image.webp" alt="two models in red outfit" data-image-slide-from-right>
        </div>
      </div>
    </div>
  </section>

  <!--
  - #NEW
  -->

  <section class="new-section text-image-sided">
    <div class="container">
      <div class="row main-grid has-bg-text">
        <div class="bg-text">
          <span>new</span>
        </div>

        <div class="content-column">
          <div class="headline">collection 2020</div>
          <h3 class="section-title title-500" data-heading-slide-from-right>Black <br>& White</h4>
          <p data-text-content-slide-from-bottom>Mattis nisl eu quam elementum vulputate ultrices blandit. Congue molestie et varius risus, tristique fermentum purus nunc sed. Et tristique cursus felis placerat proin aliquam. Faucibus aliquam nam morbi volutpat scelerisque cursus in est. Posuere lacus risus faucibus a morbi aliquam malesuada sed sed.</p>
          <a href="#" class="text-btn">Shop collection</a>
        </div>

        <div class="image-column">
          <img src="{{doc_root}}images/new-image.webp" alt="two models in black and white outfit" data-image-slide-from-left>
        </div>
      </div>
    </div>
  </section>

  <!--
  - #BOHO
  -->

  <section class="boho-section text-image-sided">
    <div class="container">
      <div class="row main-grid has-bg-text">
        <div class="bg-text">
          <span>boho</span>
        </div>

        <div class="content-column">
          <div class="headline">collection 2020</div>
          <h3 class="section-title title-500" data-heading-slide-from-left>Party <br>Collection</h4>
          <p data-text-content-slide-from-bottom>Mattis nisl eu quam elementum vulputate ultrices blandit. Congue molestie et varius risus, tristique fermentum purus nunc sed. Et tristique cursus felis placerat proin aliquam. Faucibus aliquam nam morbi volutpat scelerisque cursus in est. Posuere lacus risus faucibus a morbi aliquam malesuada sed sed.</p>
          <a href="#" class="text-btn">Shop now</a>
        </div>

        <div class="image-column">
          <img src="{{doc_root}}images/boho-image.webp" alt="two models in black and white outfit" data-image-slide-from-right>
        </div>
      </div>
    </div>
  </section>

  <!--
  - #NEWSLETTER
  -->

  <section class="newsletter-section">
    <div class="container">
      <div class="row main-grid">
        <div class="newsletter-call-to-action" data-newsletter-appear>
          <div class="content-column">
            <h5 class="title-300">Subscribe to our newsletter</h5>
            <p>Eu, est arcu, vestibulum egestas quam ac sed egestas aliquet. Diam massa magnis mi, tortor, sit. Rhoncus phasellus habitant at turpis proin nibh suspendisse.</p>
          </div>
          <div class="button-column">
            <button class="filled-btn" data-newsletter-popup-open >subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!--
  - #SIDE IMAGES
  -->

  <section class="side-images-section">
    <div class="container">
      <div class="row main-grid">
        <div class="image-column left-image">
          <img src="{{doc_root}}images/side-images/side-image-left.webp" alt="model sitting on a chair">
        </div>

        <div class="content-column">
          <div class="headline">lookbooks</div>
          <h3 class="section-title title-400" data-heading-slide-from-left>Boho wear Lookbook 2021</h4>
          <p data-text-content-slide-from-bottom>Eu, est arcu, vestibulum egestas quam ac sed egestas aliquet. Diam massa magnis mi, tortor, sit. Rhoncus phasellus habitant at turpis proin nibh suspendisse. Sodales parturient quisque purus pharetra massa et cras nulla commodo. Et condimentum egestas adipiscing nibh.</p>
          <a href="#" class="text-btn">Read more</a>
        </div>

        <div class="image-column right-image">
          <img src="{{doc_root}}images/side-images/side-image-right.webp" alt="model standing near the window in abandoned building">
        </div>
      </div>
    </div>
  </section>


  <!--
  - #BLOG POSTS
  -->

  <section class="blog-posts-section">
    <div class="container">
      <div class="row main-grid right-side">
        <div class="blog-post-block">
          <div class="blog-post-image">
            <img src="{{doc_root}}images/blog-posts/post1.webp" alt="woman in a red dress" data-image-slide-from-left>
          </div>

          <div class="blog-post-content">
            <div class="blog-post-heading">
              <div class="headline">lookbooks</div>
              <h3 class="section-title title-400" data-heading-slide-from-left>Boho wear Lookbook 2021</h4>
            </div>
            
            <div class="blog-post-intro">
              <p data-text-content-slide-from-bottom>Eu, est arcu, vestibulum egestas quam ac sed egestas aliquet. Diam massa magnis mi, tortor, sit. Rhoncus phasellus habitant at turpis proin nibh suspendisse. Sodales parturient quisque purus pharetra massa et cras nulla commodo. Et condimentum egestas adipiscing nibh.</p>
              <a href="#" class="text-btn">Read more</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row main-grid left-side">
        <div class="blog-post-block">
          <div class="blog-post-image">
            <img src="{{doc_root}}images/blog-posts/post2.webp" alt="women in dark dresses" data-image-slide-from-right>
          </div>

          <div class="blog-post-content">
            <div class="blog-post-heading">
              <div class="headline">lookbooks</div>
              <h3 class="section-title title-400" data-heading-slide-from-left>Boho wear Lookbook 2021</h4>
            </div>

            <div class="blog-post-intro">
              <p data-text-content-slide-from-bottom>Eu, est arcu, vestibulum egestas quam ac sed egestas aliquet. Diam massa magnis mi, tortor, sit. Rhoncus phasellus habitant at turpis proin nibh suspendisse. Sodales parturient quisque purus pharetra massa et cras nulla commodo. Et condimentum egestas adipiscing nibh.</p>
              <a href="#" class="text-btn">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}